body {
  background: var(--c-bg);
  color: var(--c-text);
  font: var(--font);
  letter-spacing: var(--ls);
  margin: 0;
}

pre {
  background: var(--c-surface);
  border: var(--bw) solid var(--c-outline);
  border-radius: var(--br);
  font: initial;
  overflow: auto;
  padding: calc(var(--s) * 2);
}

hr {
  border: 0;
  border-bottom: var(--brd);
  border-bottom-color: var(--c-primary);
}

img {
  filter: var(--img-filter);
}

summary {
  cursor: pointer;
}

mark {
  background-color: var(--c-tertiary);
}
