:focus-visible {
  outline: calc(var(--bw) * 1.5) var(--c-fcs) solid;
}

body {
  background: var(--c-inv);
  color: var(--c-txt);
  margin: 0;
  font: var(--font);
  letter-spacing: var(--ls);
}

pre {
  overflow: auto;
}

hr {
  border: 0;
  border-bottom: var(--bw) solid var(--c-pri);
}

img {
  filter: var(--img-filter);
}

summary {
  cursor: pointer;
}
