.btn {
  all: unset;
  background: var(--c-pri);
  border: solid #0000;
  color: var(--c-inv);
  cursor: pointer;
  padding: calc(var(--s) / 2) calc(var(--s) * 1.5);
  white-space: nowrap;
}

.btn.border {
  background: inherit;
}

.btn:hover:not(:disabled) {
  /* wait for css color module 5, or fix bug in lightning css */
  /* background: lch(from var(--c-pri) calc(l + 10%) c h); */
  filter: brightness(0.9);
}

.btn:active:not(:disabled) {
  transform: scale(0.99);
}

.btn:disabled {
  cursor: default;
  opacity: 0.38;
}
