/**
 * Text
 */
.primary {
  color: var(--c-primary);
}
.secondary {
  color: var(--c-secondary);
}
.tertiary {
  color: var(--c-tertiary);
}
.text {
  color: var(--c-text);
}
.invert {
  color: var(--c-bg);
}
.error {
  color: var(--c-error);
}
.success {
  color: var(--c-success);
}

/**
 * Backgrounds
 */
.bg-primary {
  background-color: var(--c-primary);
}
.bg-secondary {
  background-color: var(--c-secondary);
}
.bg-tertiary {
  background-color: var(--c-tertiary);
}
.bg-text {
  background-color: var(--c-text);
}
.bg-error {
  background-color: var(--c-error);
}
.bg-success {
  background-color: var(--c-success);
}

/**
 * Borders
 */
.b-primary {
  border-color: var(--c-primary);
}
.b-secondary {
  border-color: var(--c-secondary);
}
.b-tertiary {
  border-color: var(--c-tertiary);
}
.b-text {
  border-color: var(--c-text);
}
.b-invert {
  border-color: var(--c-bg);
}
.b-error {
  border-color: var(--c-error);
}
.b-success {
  border-color: var(--c-success);
}
