/**
 * Text
 */
.primary {
  color: var(--c-primary);
}
.accent {
  color: var(--c-accent);
}
.warn {
  color: var(--c-warn);
}
.text {
  color: var(--c-txt);
}
.invert {
  color: var(--c-bg);
}

/**
 * Backgrounds
 */
.bg-primary {
  background-color: var(--c-primary);
}
.bg-accent {
  background-color: var(--c-accent);
}
.bg-warn {
  background-color: var(--c-warn);
}
.bg-text {
  background-color: var(--c-txt);
}

/**
 * Borders
 */
.b-primary {
  border-color: var(--c-primary);
}
.b-accent {
  border-color: var(--c-accent);
}
.b-warn {
  border-color: var(--c-warn);
}
.b-text {
  border-color: var(--c-txt);
}
.b-invert {
  border-color: var(--c-bg);
}
