.dropdown.open,
.dropdown-trigger.open + .dropdown {
  display: block;
  position: absolute;
  transform: translateY(calc(var(--s) * -1));
}

.dropdown {
  background: var(--c-dim);
  display: none;
}
