:root {
  /* Max width of the wrapper */
  --maxw: 60rem;
  /* Font family */
  --ff: 'Roboto', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  /* Bsse font-size*/
  --fs: 16px/1.6;
  /* Font weight */
  --fw: 400;
  /* Base font */
  --font: var(--fw) var(--fs) var(--ff);
  /* Border width */
  --bw: 0.125rem;
  /* Border radius */
  --br: 0.25rem;
  /* Spacings */
  --s: 0.5rem;
}
