:root {
  /* Max width of the wrapper */
  --maxw: 60rem;
  /* Font family */
  --ff: ui-sans-serif, system-ui, -apple-system, Helvetica Neue, Arial,
    sans-serif;
  /* Bsse font-size*/
  --fs: 16px/1.6;
  /* Font weight */
  --fw: 400;
  /* Base font */
  --font: var(--fw) var(--fs) var(--ff);
  /* Border width */
  --bw: 0.0625rem;
  /* Border */
  --brd: var(--bw) solid var(--c-outline);
  /* Border radius */
  --br: 0.25rem;
  /* Spacings */
  --s: 0.5rem;
  /* transition time */
  --time: 0.2s;
  /* Gradient angle */
  --grad: linear-gradient(45deg, var(--c-primary), var(--c-secondary));
}
