.caret {
  align-items: center;
  display: inline-flex;
  gap: var(--s);
}
.caret::after {
  content: '▾';
}
.caret.up::after {
  content: '▴';
}

.round {
  border-radius: var(--br);
}

.border {
  border: var(--brd);
}

.nowrap {
  white-space: nowrap;
}

.menu,
.reset {
  list-style: none;
  margin: 0;
  padding: 0;
  /* add more on demand */
}
