@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --c-primary: #2eb499;
    --c-accent: #d4d589;
    --c-warn: #ec4d3c;
    --c-bg: #0f0f11;
    --c-txt: #f1f1f1;
    --c-brd: #413e46;
    --c-dim: #151417;

    --img-filter: brightness(0.8) contrast(1.2);
  }
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --c-primary: #2eb499;
  --c-accent: #d4d589;
  --c-warn: #ec4d3c;

  --c-bg: #0f0f11;
  --c-txt: #f1f1f1;
  --c-brd: #413e46;
  --c-dim: #151417;

  --img-filter: brightness(0.8) contrast(1.2);
}
