@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --c-pri: #8a00d4;
    --c-sec: #c224a8;

    --c-error: #f33;
    --c-success: #007800;
    --c-tri: #f9c46b;

    --c-text: #202124;
    --c-bg: #fff;
    --c-outline: #d3d3d3;
    --c-surface: #f3f3f3;

    --img-filter: ;
  }
}

:root[data-theme='light'] {
  color-scheme: light;
  --c-pri: #8a00d4;
  --c-sec: #c224a8;
  --c-tri: #f9c46b;

  --c-error: #b22222;
  --c-success: #007800;

  --c-text: #202124;
  --c-bg: #fff;
  --c-outline: #d3d3d3;
  --c-surface: #f3f3f3;

  --img-filter: ;
}
