:root {
  color-scheme: light;
  --c-primary: #8a00d4;
  --c-secondary: #c224a8;
  --c-tertiary: #f9c46b;

  --c-error: #b22222;
  --c-success: #007800;

  --c-text: #151417;
  --c-bg: #fff;
  --c-outline: #d3d3d3;
  --c-surface: #f3f3f3;
}
