html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  display: grid;
  grid-template-columns: max(250px, 15%) 1fr;
  transition: grid-template-columns 0.2s;
}

.doc-grid .grid > div {
  background-color: var(--c-dim);
  border: var(--brd);
  padding: 0.5rem;
}

.doc-sidebar {
  display: flex;
  flex-direction: column;
  background: var(--c-dim);
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  position: sticky;
  top: 0;
  transition: all 0.2s;
}

@media print {
  body {
    display: block;
  }
  .doc-sidebar {
    display: none;
  }
}

.doc-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.doc-sidebar ul li {
  margin: 0.3rem 0;
}

.doc-sidebar ul ul {
  padding-left: 1rem;
  margin-top: 0.3rem;
}

.doc-sidebar .copy {
  margin: auto 0 0;
}

.burger {
  border-radius: 0.125rem;
  width: 2rem;
  background: 0 0;
  border: none;
  cursor: pointer;
  display: none;
}
.burger ins {
  display: block;
  width: 100%;
  height: 0.1875rem;
  margin: 0.25rem 0;
  background-color: var(--c-txt);
}

@media screen and (max-width: 60rem) {
  body.expanded {
    overflow-x: hidden;
  }
  body:not(.expanded) {
    grid-template-columns: 3rem 1fr;
  }
  body:not(.expanded) .doc-sidebar {
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
  }
  body:not(.expanded) .doc-sidebar h3,
  body:not(.expanded) .doc-sidebar .copy,
  body:not(.expanded) .doc-sidebar hr,
  body:not(.expanded) .doc-sidebar nav {
    display: none;
  }
  body:not(.expanded) .burger {
    display: inline-block;
  }
}

kerge-doc-previewer.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s);
}

kerge-doc-previewer.grid details {
  flex: 1 1 100%;
}
